/*styles for assignment 3*/
body {
  background-color: blue;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.random-class {
  background-color: grey;
  padding: 0;
  border-radius: 2em;
  border: 4px solid purple;
  margin-bottom: 30px;
}

.random-class-part2 {
  position: static;
  height: 300px;
  width: 95%;
  padding: 20px 0 15px 0;
  margin: 0 0 25px 30px;
  border-radius: 2em;
}

.next-part {
  background-color: purple;
  height: 500px;
  padding: 30px;
  border-radius: 2em;
  border: 4px solid grey;
}

#bottomContent {
  position: static;
  width: 100%;
  height: 100%;
  background-color: red;
  border: 4px solid grey;
  border-radius: 2em;
}

.interesting-content {
  font-size: 4rem;
  text-align: center;
}

.smaller-text {
  font-size: 2rem;
}

.html-adder-format {
  display: none;
  height: 500px;
  border: 5px solid white;
  background-color: white;
}
